[submodule "FlintStoneEngine/vendor/spdlog"]
	path = FlintStoneEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FlintStoneEngine/vendor/GLFW"]
	path = FlintStoneEngine/vendor/GLFW
	url = https://github.com/thecherno/glfw
